<div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
  <button dropdownToggle type="button" class="btn btn-primary ">
    Button dropdown <span>
      <i *ngIf="dropdown.isOpen" class="fas fa-chevron-up"></i>
      <i *ngIf="!dropdown.isOpen" class="fas fa-chevron-down"></i>
    </span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
    </li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else
      here</a></li>
  </ul>
</div>